In [1]:
import pandas as pd

In [3]:
zz = pd.read_csv("diet.csv/diet.csv")

In [4]:
zz.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [5]:
zz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813 entries, 0 to 9812
Columns: 168 entries, SEQN to DRD370V
dtypes: float64(166), int64(2)
memory usage: 12.6 MB

In [6]:
zz.describe(include='all')

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
count,9813.000000,9813.000000,8661.000000,9813.000000,8783.000000,8661.000000,8661.000000,8706.000000,8783.000000,8797.000000,...,61.000000,5121.000000,171.000000,5121.000000,27.000000,5121.000000,1318.000000,5121.000000,317.000000,5120.0
mean,78644.559971,31713.463364,35931.672555,1.472027,43.793351,1.984528,1.874495,16.176085,4.501423,1.156303,...,1.557377,1.966608,1.766082,1.994728,2.481481,1.742628,2.622155,1.938098,2.400631,2.0
std,2938.592266,36061.598495,51017.340117,1.260325,20.535725,0.123426,0.331310,11.804355,2.184283,0.555685,...,1.443660,0.179675,1.184814,0.072427,2.651130,0.437229,2.793016,0.241001,2.997953,0.0
min,73557.000000,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000,-31.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0
25%,76092.000000,8731.762120,7255.716712,1.000000,25.000000,2.000000,2.000000,7.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.0
50%,78643.000000,19276.118837,17874.047830,1.000000,49.000000,2.000000,2.000000,16.000000,5.000000,1.000000,...,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.0
75%,81191.000000,42490.159621,44897.265674,1.000000,59.000000,2.000000,2.000000,23.000000,6.000000,1.000000,...,1.000000,2.000000,2.000000,2.000000,2.500000,2.000000,3.000000,2.000000,2.000000,2.0
max,83731.000000,267526.890966,818626.657231,5.000000,91.000000,2.000000,2.000000,74.000000,7.000000,6.000000,...,10.000000,2.000000,8.000000,2.000000,10.000000,2.000000,30.000000,2.000000,30.000000,2.0

In [9]:
zz.columns

Index(['SEQN', 'WTDRD1', 'WTDR2D', 'DR1DRSTZ', 'DR1EXMER', 'DRABF', 'DRDINT',
       'DR1DBIH', 'DR1DAY', 'DR1LANG',
       ...
       'DRD370QQ', 'DRD370R', 'DRD370RQ', 'DRD370S', 'DRD370SQ', 'DRD370T',
       'DRD370TQ', 'DRD370U', 'DRD370UQ', 'DRD370V'],
      dtype='object', length=168)

In [15]:
zz['SEQN'].isnull().sum()

0

In [18]:
zz.shape

(9813, 168)

In [19]:
zz.shape[1]

168

In [37]:
yo = []
for i in zz.columns:
    yoz = zz[i].isnull().sum()/zz.shape[0]
    if yoz < 0.13:
        yo.append(i)
print(yo)

['SEQN', 'WTDRD1', 'WTDR2D', 'DR1DRSTZ', 'DR1EXMER', 'DRABF', 'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1MNRSP', 'DR1HELPD', 'DBQ095Z', 'DRQSPREP', 'DR1STY', 'DRQSDIET', 'DR1TNUMF', 'DR1.300', 'DR1.320Z', 'DR1.330Z', 'DR1BWATZ', 'DR1TWS']

In [38]:
len(yo)

22

In [39]:
zz['WTDRD1']

0        16888.327864
1        17932.143865
2        59641.812930
3       142203.069917
4        59052.357033
5        49890.828664
6        31417.217097
7        78988.755072
8        30697.880780
9        44503.036020
10       56404.073021
11       31176.247118
12       59076.733601
13       32965.832195
14           0.000000
15       14293.003545
16        6537.795388
17        5756.102451
18       42414.513234
19       26314.101424
20       56916.588362
21       46103.178421
22        9369.093877
23           0.000000
24       38522.690763
25       58103.253352
26       41674.371348
27        6888.037391
28        8525.915307
29        9615.804064
            ...
9783     36578.391055
9784     45031.914615
9785     46540.168991
9786     69268.442403
9787         0.000000
9788     41357.936002
9789    111601.350615
9790     91229.551598
9791     10883.977473
9792     17777.928171
9793     34446.036450
9794     37066.154072
9795     55706.017856
9796     22149.821582
9797    104696.232302
9798     16682.370510
9799         0.000000
9800         0.000000
9801         0.000000
9802     50162.971463
9803      3284.598329
9804     14116.878928
9805     32115.849467
9806         0.000000
9807         0.000000
9808     14146.781331
9809     38750.761193
9810     15272.505199
9811         0.000000
9812      5805.674812
Name: WTDRD1, Length: 9813, dtype: float64