### Importing libraries

In [1]:
import pandas as pd

# Part 1: Cleaning

### Reading the file and changing NaN with .

In [76]:
df = pd.read_excel('demographic_modified.xlsx')
df = df.fillna('.')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,Sequence,Cycle,Interview and examination status,Gender,Age,Age,Race,Race,Semi-annual,No. of participants,...,Educational level,Marital status,Educational level,Weights,Weights,Variance,Variance,Income range,Income,family income poverty ratio
1,Respondent sequence number.,Data release cycle,Interview and examination status of the partic...,Gender of the participant.,Age in years of the participant at the time of...,Age in months of the participant at the time o...,Recode of reported race and Hispanic origin in...,Recode of reported race and Hispanic origin in...,Six month time period when the examination was...,Age in months of the participant at the time o...,...,HH reference person's education level,HH reference person's marital status,HH reference person's spouse's education level,Full sample 2 year interview weight.,Full sample 2 year MEC exam weight.,Masked variance unit pseudo-PSU variable for v...,Masked variance unit pseudo-stratum variable f...,Total household income (reported as a range va...,Total family income (reported as a range value...,A ratio of family income to poverty guidelines.
2,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
3,73557,8,2,1,69,.,4,4,1,.,...,3,4,.,13281.2,13481,1,112,4,4,0.84
4,73558,8,2,1,54,.,3,3,1,.,...,3,1,1,23682.1,24471.8,1,108,7,7,1.78

In [77]:
#Remove the first two rows
df = df.iloc[2:]
df.reset_index(drop=True).head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
1,73557,8,2,1,69,.,4,4,1,.,...,3,4,.,13281.2,13481,1,112,4,4,0.84
2,73558,8,2,1,54,.,3,3,1,.,...,3,1,1,23682.1,24471.8,1,108,7,7,1.78
3,73559,8,2,1,72,.,3,3,2,.,...,4,1,3,57214.8,57193.3,1,109,10,10,4.51
4,73560,8,2,1,9,.,3,3,1,119,...,3,1,4,55201.2,55766.5,2,109,9,9,2.52

In [78]:
#Set first row as column headers
df = df.rename(columns=df.iloc[0]).drop(df.index[0]).reset_index(drop=True)

In [79]:
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,.,4,4,1,.,...,3,4,.,13281.2,13481,1,112,4,4,0.84
1,73558,8,2,1,54,.,3,3,1,.,...,3,1,1,23682.1,24471.8,1,108,7,7,1.78
2,73559,8,2,1,72,.,3,3,2,.,...,4,1,3,57214.8,57193.3,1,109,10,10,4.51
3,73560,8,2,1,9,.,3,3,1,119,...,3,1,4,55201.2,55766.5,2,109,9,9,2.52
4,73561,8,2,2,73,.,3,3,1,.,...,5,1,5,63709.7,65541.9,2,116,15,15,5

In [80]:
print(df.shape)
print(df.columns)

(10175, 47)
Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC',
       'DMDBORN4', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL',
       'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY',
       'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ',
       'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE',
       'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR', 'WTMEC2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

# Part 2: Appending

### Script checker for a smaller dataset

In [81]:
df_check = df.copy()

In [82]:
df_check = df_check.head()

In [83]:
df_check

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,.,4,4,1,.,...,3,4,.,13281.2,13481,1,112,4,4,0.84
1,73558,8,2,1,54,.,3,3,1,.,...,3,1,1,23682.1,24471.8,1,108,7,7,1.78
2,73559,8,2,1,72,.,3,3,2,.,...,4,1,3,57214.8,57193.3,1,109,10,10,4.51
3,73560,8,2,1,9,.,3,3,1,119,...,3,1,4,55201.2,55766.5,2,109,9,9,2.52
4,73561,8,2,2,73,.,3,3,1,.,...,5,1,5,63709.7,65541.9,2,116,15,15,5

In [84]:
df_check.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC',
       'DMDBORN4', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL',
       'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY',
       'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ',
       'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE',
       'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR', 'WTMEC2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [86]:
len(df_check.columns)

47

In [87]:
print('{}_'.format(df_check.columns[0]))

SEQN_

In [88]:
print(df_check.columns[1:])

Index(['SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4',
       'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG',
       'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ',
       'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE', 'DMDHRBR4',
       'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU',
       'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [89]:
for col in df_check.columns[1:]:
    print(col)
    df_check.loc[:,col] = '{}_'.format(col) + df_check[col].astype(str)

SDDSRVYR
RIDSTATR
RIAGENDR
RIDAGEYR
RIDAGEMN
RIDRETH1
RIDRETH3
RIDEXMON
RIDEXAGM
DMQMILIZ
DMQADFC
DMDBORN4
DMDCITZN
DMDYRSUS
DMDEDUC3
DMDEDUC2
DMDMARTL
RIDEXPRG
SIALANG
SIAPROXY
SIAINTRP
FIALANG
FIAPROXY
FIAINTRP
MIALANG
MIAPROXY
MIAINTRP
AIALANGA
DMDHHSIZ
DMDFMSIZ
DMDHHSZA
DMDHHSZB
DMDHHSZE
DMDHRGND
DMDHRAGE
DMDHRBR4
DMDHREDU
DMDHRMAR
DMDHSEDU
WTINT2YR
WTMEC2YR
SDMVPSU
SDMVSTRA
INDHHIN2
INDFMIN2
INDFMPIR

In [90]:
df_check.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_69,RIDAGEMN_.,RIDRETH1_4,RIDRETH3_4,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_3,DMDHRMAR_4,DMDHSEDU_.,WTINT2YR_13281.237386,WTMEC2YR_13481.042095,SDMVPSU_1,SDMVSTRA_112,INDHHIN2_4,INDFMIN2_4,INDFMPIR_0.84
1,73558,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_54,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_3,DMDHRMAR_1,DMDHSEDU_1,WTINT2YR_23682.057386,WTMEC2YR_24471.769625,SDMVPSU_1,SDMVSTRA_108,INDHHIN2_7,INDFMIN2_7,INDFMPIR_1.78
2,73559,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_72,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_2,RIDEXAGM_.,...,DMDHREDU_4,DMDHRMAR_1,DMDHSEDU_3,WTINT2YR_57214.803319,WTMEC2YR_57193.285376,SDMVPSU_1,SDMVSTRA_109,INDHHIN2_10,INDFMIN2_10,INDFMPIR_4.51
3,73560,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_9,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_119,...,DMDHREDU_3,DMDHRMAR_1,DMDHSEDU_4,WTINT2YR_55201.178592,WTMEC2YR_55766.512438,SDMVPSU_2,SDMVSTRA_109,INDHHIN2_9,INDFMIN2_9,INDFMPIR_2.52
4,73561,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_2,RIDAGEYR_73,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_5,DMDHRMAR_1,DMDHSEDU_5,WTINT2YR_63709.667069,WTMEC2YR_65541.871229,SDMVPSU_2,SDMVSTRA_116,INDHHIN2_15,INDFMIN2_15,INDFMPIR_5

### Apply script to the whole dataset

In [91]:
for col in df.columns[1:]:
    print(col)
    df.loc[:,col] = '{}_'.format(col) + df[col].astype(str)

SDDSRVYR
RIDSTATR
RIAGENDR
RIDAGEYR
RIDAGEMN
RIDRETH1
RIDRETH3
RIDEXMON
RIDEXAGM
DMQMILIZ
DMQADFC
DMDBORN4
DMDCITZN
DMDYRSUS
DMDEDUC3
DMDEDUC2
DMDMARTL
RIDEXPRG
SIALANG
SIAPROXY
SIAINTRP
FIALANG
FIAPROXY
FIAINTRP
MIALANG
MIAPROXY
MIAINTRP
AIALANGA
DMDHHSIZ
DMDFMSIZ
DMDHHSZA
DMDHHSZB
DMDHHSZE
DMDHRGND
DMDHRAGE
DMDHRBR4
DMDHREDU
DMDHRMAR
DMDHSEDU
WTINT2YR
WTMEC2YR
SDMVPSU
SDMVSTRA
INDHHIN2
INDFMIN2
INDFMPIR

### Script for automating it for all datasets

In [387]:
datasets = ['demographic_modified.xlsx', 'diet_modified.xlsx', 'examination_modified.xlsx', 'labs_modified.xlsx', 'questionnaire_modified.xlsx']
datasets_check = ['demographic_modified.xlsx']

In [525]:
for dataset in datasets:
    df = pd.read_excel(dataset)
    df = df.fillna('.')
    export_name = "cleaned_" + dataset[:-5]
    if(dataset == 'diet_modified.xlsx' or dataset == 'examination_modified.xlsx'):
        df = df.drop(columns=['SHORTENED NAME'])
        df = df.iloc[2:]
    elif(dataset == 'questionnaire_modified.xlsx'):
        df = df.iloc[1:]
    else:
        df = df.iloc[2:]
    #Reset index so you can .iloc easier
    df.reset_index(drop=True).head()
    #Set first row as column headers
    df = df.rename(columns=df.iloc[0]).drop(df.index[0]).reset_index(drop=True)
    #Check if there are periods in column name
    col_list = []
    for col in df.columns:
        try:
            col.index('.')
        except ValueError:
            col_list.append(col)
        else:
            col = col.replace('.', '_')
            col_list.append(col)
    df.columns = col_list
    #Append the column name to each value
    for col in df.columns[1:]:
        df.loc[:,col] = '{}_'.format(col) + df[col].astype(str)
    #Export the file to csv
    df.to_csv(export_name + ".csv", index=False)
    print(export_name)

cleaned_demographic_modified
cleaned_diet_modified
cleaned_examination_modified
cleaned_labs_modified
cleaned_questionnaire_modified

### Check the csvs

In [526]:
check = pd.read_csv('cleaned_diet_modified.csv')

In [520]:
col_list = []

In [527]:
check['DR1_300']

0       DR1_300_2
1       DR1_300_2
2       DR1_300_2
3       DR1_300_2
4       DR1_300_2
5       DR1_300_1
6       DR1_300_2
7       DR1_300_2
8       DR1_300_3
9       DR1_300_2
10      DR1_300_2
11      DR1_300_2
12      DR1_300_3
13      DR1_300_1
14      DR1_300_.
15      DR1_300_2
16      DR1_300_2
17      DR1_300_2
18      DR1_300_2
19      DR1_300_2
20      DR1_300_2
21      DR1_300_2
22      DR1_300_2
23      DR1_300_.
24      DR1_300_2
25      DR1_300_3
26      DR1_300_3
27      DR1_300_3
28      DR1_300_2
29      DR1_300_2
          ...
9783    DR1_300_1
9784    DR1_300_2
9785    DR1_300_2
9786    DR1_300_2
9787    DR1_300_.
9788    DR1_300_3
9789    DR1_300_2
9790    DR1_300_2
9791    DR1_300_2
9792    DR1_300_3
9793    DR1_300_3
9794    DR1_300_1
9795    DR1_300_2
9796    DR1_300_2
9797    DR1_300_2
9798    DR1_300_3
9799    DR1_300_.
9800    DR1_300_.
9801    DR1_300_.
9802    DR1_300_2
9803    DR1_300_2
9804    DR1_300_2
9805    DR1_300_2
9806    DR1_300_.
9807    DR1_300_.
9808    DR1_300_1
9809    DR1_300_2
9810    DR1_300_2
9811    DR1_300_.
9812    DR1_300_2
Name: DR1_300, Length: 9813, dtype: object

In [486]:
datasets_z = [ 'diet_modified.xlsx']

In [489]:
for dataset in datasets_z:
    df = pd.read_excel(dataset)
    df = df.fillna('.')
    export_name = "cleaned_" + dataset[:-5]
    if(dataset == 'diet_modified.xlsx' or dataset == 'examination_modified.xlsx'):
        df = df.drop(columns=['SHORTENED NAME'])
        df = df.iloc[2:]
    elif(dataset == 'questionnaire_modified.xlsx'):
        df = df.iloc[1:]
    else:
        df = df.iloc[2:]
    #Reset index so you can .iloc easier
    df.reset_index(drop=True).head()
    #Set first row as column headers
    df = df.rename(columns=df.iloc[0]).drop(df.index[0]).reset_index(drop=True)
    #Check if there are periods in column name
    for col in df.columns:
        try:
            col.index('.')
        except ValueError:
            pass  # ValueError: substring not found
        else:
            col.replace('.','_', inplace=True)
    print(df.columns)
#     #Append the column name to each value
#     for col in df.columns[1:]:
#         df.loc[:,col] = '{}_'.format(col) + df[col].astype(str)
#     #Export the file to csv
    df.to_csv(export_name + ".csv", index=False)
    print(export_name)

DR1_300
DR1_320Z
DR1_330Z
Index(['SEQN', 'WTDRD1', 'WTDR2D', 'DR1DRSTZ', 'DR1EXMER', 'DRABF', 'DRDINT',
       'DR1DBIH', 'DR1DAY', 'DR1LANG',
       ...
       'DRD370QQ', 'DRD370R', 'DRD370RQ', 'DRD370S', 'DRD370SQ', 'DRD370T',
       'DRD370TQ', 'DRD370U', 'DRD370UQ', 'DRD370V'],
      dtype='object', length=168)
cleaned_diet_modified

# Part 3: Mapping

###  Now, we try to create a dictionary for the original meaning of the values

In [434]:
check = pd.read_csv('cleaned_demographic_modified.csv')
check.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_69,RIDAGEMN_.,RIDRETH1_4,RIDRETH3_4,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_3,DMDHRMAR_4,DMDHSEDU_.,WTINT2YR_13281.237386,WTMEC2YR_13481.042095,SDMVPSU_1,SDMVSTRA_112,INDHHIN2_4,INDFMIN2_4,INDFMPIR_0.84
1,73558,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_54,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_3,DMDHRMAR_1,DMDHSEDU_1,WTINT2YR_23682.057386,WTMEC2YR_24471.769625,SDMVPSU_1,SDMVSTRA_108,INDHHIN2_7,INDFMIN2_7,INDFMPIR_1.78
2,73559,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_72,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_2,RIDEXAGM_.,...,DMDHREDU_4,DMDHRMAR_1,DMDHSEDU_3,WTINT2YR_57214.803319,WTMEC2YR_57193.285376,SDMVPSU_1,SDMVSTRA_109,INDHHIN2_10,INDFMIN2_10,INDFMPIR_4.51
3,73560,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_1,RIDAGEYR_9,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_119,...,DMDHREDU_3,DMDHRMAR_1,DMDHSEDU_4,WTINT2YR_55201.178592,WTMEC2YR_55766.512438,SDMVPSU_2,SDMVSTRA_109,INDHHIN2_9,INDFMIN2_9,INDFMPIR_2.52
4,73561,SDDSRVYR_8,RIDSTATR_2,RIAGENDR_2,RIDAGEYR_73,RIDAGEMN_.,RIDRETH1_3,RIDRETH3_3,RIDEXMON_1,RIDEXAGM_.,...,DMDHREDU_5,DMDHRMAR_1,DMDHSEDU_5,WTINT2YR_63709.667069,WTMEC2YR_65541.871229,SDMVPSU_2,SDMVSTRA_116,INDHHIN2_15,INDFMIN2_15,INDFMPIR_5

In [496]:
df_dict = pd.read_csv('Diet_key.csv')
df_dict[df_dict['short_title'] == 'DR1_300']

,short_title,title,code or value,description,count,Lookup,Column
260,DR1_300,DR1_300 - Compare food consumed yesterday to u...,1,Much more than usual,830,DR1_300_1,DR1_300_Much more than usual
261,DR1_300,DR1_300 - Compare food consumed yesterday to u...,2,Usual,6210,DR1_300_2,DR1_300_Usual
262,DR1_300,DR1_300 - Compare food consumed yesterday to u...,3,Much less than usual,1673,DR1_300_3,DR1_300_Much less than usual
263,DR1_300,DR1_300 - Compare food consumed yesterday to u...,7,Refused,0,DR1_300_7,DR1_300_Refused
264,DR1_300,DR1_300 - Compare food consumed yesterday to u...,9,Don't know,70,DR1_300_9,DR1_300_Don't know
265,DR1_300,DR1_300 - Compare food consumed yesterday to u...,.,Missing,1030,DR1_300_.,DR1_300_Missing

In [378]:
df_dict = df_dict.loc[:, ['short_title','Lookup', 'Column']]

In [200]:
# dict_check = df_dict.set_index('Lookup').T.to_dict('records')[0]

In [379]:
#Function
def to_dictionary(df):
    if len(df.columns) == 1:
        if df.values.size == 1: 
            return df.values[0][0]
        return df.values.squeeze()
    grouped = df.groupby(df.columns[0])
    to_dict = {k: recur_dictify(g.ix[:,1:]) for k,g in grouped}
    return to_dict

In [275]:
# import pprint
# pprint.pprint(recur_dictify(df_dict))

In [380]:
to_dict = to_dictionary(df_dict)

C:\Users\Cobena\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

### Try to map with the a smaller dataset

In [381]:
check.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC',
       'DMDBORN4', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL',
       'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY',
       'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ',
       'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE',
       'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR', 'WTMEC2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [383]:
len(check.columns)

47

In [384]:
range_list = []
for k,v in to_dict.items():
    for k,v in v.items():
        if('Range of Values' in v):
            range_list.append(k.split('_')[0])
range_list

['DMDHRAGE',
 'INDFMPIR',
 'RIDAGEMN',
 'RIDAGEYR',
 'RIDEXAGM',
 'SDMVPSU',
 'SDMVSTRA',
 'WTINT2YR',
 'WTMEC2YR']

In [385]:
cols = [col for col in check.columns if col not in range_list]
len(cols)

38

In [386]:
for col in check.columns[1:]:
    if(col not in range_list):
        check[col] = check[col].map(to_dict[col])
    else:
        check[col] = check[col].str.split('_').str[1]
check.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,SDDSRVYR_NHANES 2013-2014 public release,RIDSTATR_Both interviewed and MEC examined,RIAGENDR_Male,69,.,RIDRETH1_Non-Hispanic Black,RIDRETH3_Non-Hispanic Black,RIDEXMON_November 1 through April 30,.,...,DMDHREDU_High School Grad/GED or Equivalent,DMDHRMAR_Separated,DMDHSEDU_Missing,13281.237386,13481.042095,1,112,"INDHHIN2_$15,000 to $19,999","INDFMIN2_$15,000 to $19,999",0.84
1,73558,SDDSRVYR_NHANES 2013-2014 public release,RIDSTATR_Both interviewed and MEC examined,RIAGENDR_Male,54,.,RIDRETH1_Non-Hispanic White,RIDRETH3_Non-Hispanic White,RIDEXMON_November 1 through April 30,.,...,DMDHREDU_High School Grad/GED or Equivalent,DMDHRMAR_Married,DMDHSEDU_Less Than 9th Grade,23682.057386,24471.769625,1,108,"INDHHIN2_$35,000 to $44,999","INDFMIN2_$35,000 to $44,999",1.78
2,73559,SDDSRVYR_NHANES 2013-2014 public release,RIDSTATR_Both interviewed and MEC examined,RIAGENDR_Male,72,.,RIDRETH1_Non-Hispanic White,RIDRETH3_Non-Hispanic White,RIDEXMON_May 1 through October 31,.,...,DMDHREDU_Some College or AA degree,DMDHRMAR_Married,DMDHSEDU_High School Grad/GED or Equivalent,57214.803319,57193.285376,1,109,"INDHHIN2_$65,000 to $74,999","INDFMIN2_$65,000 to $74,999",4.51
3,73560,SDDSRVYR_NHANES 2013-2014 public release,RIDSTATR_Both interviewed and MEC examined,RIAGENDR_Male,9,.,RIDRETH1_Non-Hispanic White,RIDRETH3_Non-Hispanic White,RIDEXMON_November 1 through April 30,119,...,DMDHREDU_High School Grad/GED or Equivalent,DMDHRMAR_Married,DMDHSEDU_Some College or AA degree,55201.178592,55766.512438,2,109,"INDHHIN2_$55,000 to $64,999","INDFMIN2_$55,000 to $64,999",2.52
4,73561,SDDSRVYR_NHANES 2013-2014 public release,RIDSTATR_Both interviewed and MEC examined,RIAGENDR_Female,73,.,RIDRETH1_Non-Hispanic White,RIDRETH3_Non-Hispanic White,RIDEXMON_November 1 through April 30,.,...,DMDHREDU_College Graduate or above,DMDHRMAR_Married,DMDHSEDU_College Graduate or above,63709.667069,65541.871229,2,116,"INDHHIN2_$100,000 and Over","INDFMIN2_$100,000 and Over",5

### Script for automating the mapping to all cleaned datasets

In [528]:
cleaned_datasets = ['cleaned_demographic_modified.csv', 'cleaned_diet_modified.csv', 'cleaned_examination_modified.csv', 'cleaned_labs_modified.csv', 'cleaned_questionnaire_modified.csv']
mapper = ['Demographic_key.csv', 'Diet_key.csv', 'Examination_key.csv', 'Lab_key.csv', 'Questionnaire_key.csv']

In [529]:
#Function
def to_dictionary(df):
    if len(df.columns) == 1:
        if df.values.size == 1: 
            return df.values[0][0]
        return df.values.squeeze()
    grouped = df.groupby(df.columns[0])
    to_dict = {k: recur_dictify(g.ix[:,1:]) for k,g in grouped}
    return to_dict

In [533]:
for dataset in cleaned_datasets:
    to_be_mapped_df = pd.read_csv(dataset)
    export_name = "mapped_" + dataset[:-13]
    index = cleaned_datasets.index(dataset)
    mapper_df = pd.read_csv(mapper[index])
    mapper_df = mapper_df.loc[:, ['short_title','Lookup', 'Column']]
    to_dict = to_dictionary(mapper_df)
    range_list = []
    for k,v in to_dict.items():
        for k,v in v.items():
            if('Range of Values' in v):
                range_list.append(k.split('_')[0])
    for col in to_be_mapped_df.columns[1:]:
        try:
            if(col not in range_list):
                to_be_mapped_df[col] = to_be_mapped_df[col].map(to_dict[col])
            else:
                to_be_mapped_df[col] = to_be_mapped_df[col].str.split('_').str[1]
        except:
            print(col)
    to_be_mapped_df.to_csv(export_name + ".csv", index=False)
    print(export_name)

C:\Users\Cobena\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\Cobena\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

mapped_cleaned_demographic
mapped_cleaned_diet
MGDEXSTS
MGD050
MGD060
MGQ070
MGQ080
MGQ090
MGQ100
MGQ110
MGQ120
MGD130
MGQ90DG
MGDSEAT
MGAPHAND
MGATHAND
MGXH1T1
MGXH1T1E
MGXH2T1
MGXH2T1E
MGXH1T2
MGXH1T2E
MGXH2T2
MGXH2T2E
MGXH1T3
MGXH1T3E
MGXH2T3
MGXH2T3E
MGDCGSZ
CSQ245
CSQ241
CSQ260A
CSQ260D
CSQ260G
CSQ260I
CSQ260N
CSQ260M
CSQ270
CSXNAPG
CSXNAPT
CSXNASG
CSXNAST
CSXTSEQ
CSXSBOD
CSXONOD
CSXNART
CSXNARG
mapped_cleaned_examination
URXUCR_x
WTSAF2YR_x
LBXHGB
LBXMC
LBXRDW
LBXMPSI
WTSA2YR_x
LBXSCU
LBXSSE
LBXSZN
URXUCR_y
WTSB2YR_x
PHAFSTHR_x
PHAFSTMN_x
LBDPFL
LBXHA
LBXHBS
LBXHBC
LBDHBG
LBDHD
LBXHCR
LBXHCG
LBDHEG
LBDHEM
LBXHE1
LBXHE2
LBXGH
LBDHI
ORXGH
ORXGL
ORXH06
ORXH11
ORXH16
ORXH18
ORXH26
ORXH31
ORXH33
ORXH35
ORXH39
ORXH40
ORXH42
ORXH45
ORXH51
ORXH52
ORXH53
ORXH54
ORXH55
ORXH56
ORXH58
ORXH59
ORXH61
ORXH62
ORXH64
ORXH66
ORXH67
ORXH68
ORXH69
ORXH70
ORXH71
ORXH72
ORXH73
ORXH81
ORXH82
ORXH83
ORXH84
ORXHPC
ORXHPI
ORXHPV
LBDRPCR_x
LBDRHP_x
LBDRLP_x
LBDR06_x
LBDR11_x
LBDR16_x
LBDR18_x
LBDR26_x
LBDR31_x
LBDR33_x
LBDR35_x
LBDR39_x
LBDR40_x
LBDR42_x
LBDR45_x
LBDR51_x
LBDR52_x
LBDR53_x
LBDR54_x
LBDR55_x
LBDR56_x
LBDR58_x
LBDR59_x
LBDR61_x
LBDR62_x
LBDR64_x
LBDR66_x
LBDR67_x
LBDR68_x
LBDR69_x
LBDR70_x
LBDR71_x
LBDR72_x
LBDR73_x
LBDR81_x
LBDR82_x
LBDR83_x
LBDR84_x
LBDR89_x
LBDRPI_x
LBDRPCR_y
LBDRHP_y
LBDRLP_y
LBDR06_y
LBDR11_y
LBDR16_y
LBDR18_y
LBDR26_y
LBDR31_y
LBDR33_y
LBDR35_y
LBDR39_y
LBDR40_y
LBDR42_y
LBDR45_y
LBDR51_y
LBDR52_y
LBDR53_y
LBDR54_y
LBDR55_y
LBDR56_y
LBDR58_y
LBDR59_y
LBDR61_y
LBDR62_y
LBDR64_y
LBDR66_y
LBDR67_y
LBDR68_y
LBDR69_y
LBDR70_y
LBDR71_y
LBDR72_y
LBDR73_y
LBDR81_y
LBDR82_y
LBDR83_y
LBDR84_y
LBDR89_y
LBDRPI_y
WTSAF2YR_y
LBXIN
PHAFSTHR_y
PHAFSTMN_y
URXUIO
LBXTR
WTSH2YR_x
WTSA2YR_y
URXP25
WTSB2YR_y
LBXTC
LBXTTG
LBXEMA
WTSH2YR_y
URXUAS3
URXUAS5
URXUAB
URXUAC
URXUDMA
URXUMMA
URXUHG
URXUMN
URXUSN
URXUSR
URXPREG
LBDB12
mapped_cleaned_labs
ACD011A
ACD011B
ACD011C
ACD040
ACD110
ALQ141Q
ALQ141U
ALQ151
ALQ160
HSQ500
HSQ510
HSQ520
HSQ571
HSQ580
HSQ590
CSQ010
CSQ020
CSQ030
CSQ040
CSQ060
CSQ070
CSQ080
CSQ090A
CSQ090B
CSQ090C
CSQ090D
CSQ100
CSQ110
CSQ120A
CSQ120B
CSQ120C
CSQ120D
CSQ120E
CSQ120F
CSQ120G
CSQ120H
CSQ140
CSQ160
CSQ170
CSQ180
CSQ190
CSQ200
CSQ202
CSQ204
CSQ210
CSQ220
CSQ240
CSQ250
CSQ260
AUQ136
AUQ138
CDQ004
CDQ005
CDQ006
CDQ009A
CDQ009B
CDQ009C
CDQ009D
CDQ009E
CDQ009F
CDQ009G
CDQ009H
CDQ008
CDQ010
DIQ160
DIQ170
DIQ172
DIQ175A
DIQ175B
DIQ175C
DIQ175D
DIQ175E
DIQ175F
DIQ175G
DIQ175H
DIQ175I
DIQ175J
DIQ175K
DIQ175L
DIQ175M
DIQ175N
DIQ175O
DIQ175P
DIQ175Q
DIQ175R
DIQ175S
DIQ175T
DIQ175U
DIQ175V
DIQ175W
DIQ175X
DIQ180
DIQ050
DID060
DIQ060U
DIQ070
DIQ230
DIQ240
DID250
DID260
DIQ260U
DIQ275
DIQ280
DIQ291
DIQ300S
DIQ300D
DID310S
DID310D
DID320
DID330
DID341
DID350
DIQ350U
DIQ360
DIQ080
DBQ700
DBQ197
DBQ223A
DBQ223B
DBQ223C
DBQ223D
DBQ223E
DBQ223U
DBQ229
DBQ235A
DBQ235B
DBQ235C
DBQ301
DBQ330
DBQ360
DBQ370
DBD381
DBQ390
DBQ400
DBD411
DBQ421
DBQ424
DBD895
DBD900
DBD905
DBD910
CBQ596
CBQ606
CBQ611
CBQ505
CBQ535
CBQ540
CBQ545
CBQ550
CBQ552
CBQ580
CBQ585
CBQ590
DLQ010
DLQ020
DLQ040
DLQ050
DLQ060
DLQ080
DPQ010
DPQ020
DPQ030
DPQ040
DPQ050
DPQ060
DPQ070
DPQ080
DPQ090
DPQ100
DUQ211
DUQ213
DUQ215Q
DUQ215U
DUQ217
DUQ219
DUQ430
ECQ080
ECQ090
WHQ030E
MCQ080E
ECQ150
FSD041
FSD052
FSD061
FSD071
FSD081
FSD092
FSD102
FSD032D
FSD032E
FSD032F
FSD111
FSD122
FSD132
FSD141
FSD146
FSDHH
FSDAD
FSDCH
FSD151
FSQ165
FSQ012
FSD012N
FSD230
FSD225
FSQ235
FSQ162
FSD650ZC
FSD660ZC
FSD675
FSD680
FSD670ZC
FSQ690
FSQ695
FSD650ZW
FSD660ZW
FSD670ZW
HEQ010
HEQ020
HEQ030
HEQ040
HIQ260
HIQ105
HIQ270
HIQ210
HUQ020
HUQ030
HUQ041
HUQ051
HUQ061
HUQ071
HUD080
HUQ090
IMQ011
IMQ020
IMQ040
IMQ070
IMQ080
IMQ090
IMQ045
INQ244
IND247
MCQ010
MCQ025
MCQ035
MCQ040
MCQ050
AGQ030
MCQ053
MCQ070
MCQ075
MCQ080
MCQ082
MCQ084
MCQ086
MCQ092
MCQ149
MCQ151
MCQ160A
MCQ180A
MCQ195
MCQ160N
MCQ180N
MCQ160B
MCQ180B
MCQ160C
MCQ180C
MCQ160D
MCQ180D
MCQ160E
MCQ180E
MCQ160F
MCQ180F
MCQ160G
MCQ180G
MCQ160M
MCQ170M
MCQ180M
MCQ160K
MCQ170K
MCQ180K
MCQ160L
MCQ170L
MCQ180L
MCQ160O
MCQ203
MCQ206
MCQ220
MCQ230A
MCQ230B
MCQ230C
MCQ230D
MCQ240A
MCQ240AA
MCQ240B
MCQ240BB
MCQ240C
MCQ240CC
MCQ240D
MCQ240DD
MCQ240DK
MCQ240E
MCQ240F
MCQ240G
MCQ240H
MCQ240I
MCQ240J
MCQ240K
MCQ240L
MCQ240M
MCQ240N
MCQ240O
MCQ240P
MCQ240Q
MCQ240R
MCQ240S
MCQ240T
MCQ240U
MCQ240V
MCQ240W
MCQ240X
MCQ240Y
MCQ240Z
MCQ300A
MCQ300B
MCQ300C
MCQ365A
MCQ365B
MCQ365C
MCQ365D
MCQ370A
MCQ370B
MCQ370C
MCQ370D
MCQ380
OCQ210
OCQ260
OCD270
OCQ380
OCD390G
OCD395
OHQ030
OHQ033
OHQ770
OHQ555G
OHQ555Q
OHQ555U
OHQ560G
OHQ560Q
OHQ560U
OHQ565
OHQ570Q
OHQ570U
OHQ575G
OHQ575Q
OHQ575U
OHQ580
OHQ585Q
OHQ585U
OHQ590G
OHQ590Q
OHQ590U
OHQ610
OHQ612
OHQ614
OHQ620
OHQ640
OHQ680
OHQ835
OHQ845
OHQ848G
OHQ848Q
OHQ849
OHQ850
OHQ855
OHQ860
OHQ865
OHQ870
OHQ875
OHQ880
OHQ885
OHQ895
OHQ900
OSQ010A
OSQ010B
OSQ010C
OSQ020A
OSQ020B
OSQ020C
OSD030AA
OSQ040AA
OSD050AA
OSD030AB
OSQ040AB
OSD050AB
OSD030AC
OSQ040AC
OSD050AC
OSD030BA
OSQ040BA
OSD050BA
OSD030BB
OSQ040BB
OSD050BB
OSD030BC
OSQ040BC
OSD050BC
OSD030BD
OSQ040BD
OSD050BD
OSD030BE
OSQ040BE
OSD030BF
OSQ040BF
OSD030BG
OSQ040BG
OSD030BH
OSQ040BH
OSD030BI
OSQ040BI
OSD030BJ
OSQ040BJ
OSD030CA
OSQ040CA
OSD050CA
OSD030CB
OSQ040CB
OSD050CB
OSD030CC
OSQ040CC
OSQ080
OSQ090A
OSQ100A
OSD110A
OSQ120A
OSQ090B
OSQ100B
OSD110B
OSQ120B
OSQ090C
OSQ100C
OSD110C
OSQ120C
OSQ090D
OSQ100D
OSD110D
OSQ120D
OSQ090E
OSQ100E
OSD110E
OSQ120E
OSQ090F
OSQ120F
OSQ090G
OSQ100G
OSD110G
OSQ120G
OSQ090H
OSQ120H
OSQ060
OSQ072
OSQ130
OSQ140Q
OSQ140U
OSQ150
OSQ160A
OSQ160B
OSQ170
OSQ180
OSQ190
OSQ200
OSQ210
OSQ220
PFQ033
PFQ041
PFQ049
PFQ051
PFQ054
PFQ057
PFQ059
PFQ061A
PFQ061B
PFQ061C
PFQ061D
PFQ061E
PFQ061F
PFQ061G
PFQ061H
PFQ061I
PFQ061J
PFQ061K
PFQ061L
PFQ061M
PFQ061N
PFQ061O
PFQ061P
PFQ061Q
PFQ061R
PFQ061S
PFQ061T
PFQ063A
PFQ063B
PFQ063C
PFQ063D
PFQ063E
PFQ090
PAQ724A
PAQ724B
PAQ724C
PAQ724D
PAQ724E
PAQ724F
PAQ724G
PAQ724H
PAQ724I
PAQ724J
PAQ724K
PAQ724L
PAQ724M
PAQ724N
PAQ724O
PAQ724P
PAQ724Q
PAQ724R
PAQ724S
PAQ724T
PAQ724U
PAQ724V
PAQ724W
PAQ724X
PAQ724Y
PAQ724Z
PAQ724AA
PAQ724AB
PAQ724AC
PAQ724AD
PAQ724AE
PAQ724AF
PAQ724CM
PAQ759A
PAQ759B
PAQ759C
PAQ759D
PAQ759E
PAQ759F
PAQ759G
PAQ759H
PAQ759I
PAQ759J
PAQ759K
PAQ759L
PAQ759M
PAQ759N
PAQ759O
PAQ759P
PAQ759Q
PAQ759R
PAQ759S
PAQ759T
PAQ759U
PAQ759V
PAQ772A
PAQ772B
PAQ772C
PUQ100
PUQ110
RHQ074
RHQ076
RHQ078
RXQ510
RXQ515
RXQ520
RXQ525G
RXQ525Q
RXQ525U
RXD530
SMQ078
SMQ621
SMQ661
SMQ665A
SMQ665B
SMQ665C
SMQ665D
SMQ848
SMQ852Q
SMQ852U
SMD460
SMD470
SMD480
SMQ856
SMQ858
SMQ860
SMQ862
SMQ866
SMQ868
SMQ870
SMQ872
SMQ874
SMQ876
SMQ878
SMQ880
SMQ681
SMQ710
SMQ720
SMQ725
SMQ740
SMQ845
SMQ849
SMQ800
SMQ817
SMQ857
SMQ861
SMQ863
SMQ830
SXQ800
SXQ803
SXQ806
SXQ809
SXQ700
SXQ703
SXQ706
SXQ709
SXD031
SXD171
SXD510
SXQ824
SXQ827
SXD633
SXQ636
SXQ639
SXD642
SXQ410
SXQ550
SXQ836
SXQ841
SXQ853
SXD621
SXQ624
SXQ627
SXD630
SXQ645
SXQ648
SXQ610
SXQ251
SXQ590
SXQ600
SXD101
SXD450
SXQ724
SXQ727
SXQ130
SXQ490
SXQ741
SXQ753
SXQ260
SXQ265
SXQ267
SXQ270
SXQ272
SXQ280
SXQ292
SXQ294
WHQ060
WHQ070
WHD080A
WHD080B
WHD080C
WHD080D
WHD080E
WHD080F
WHD080G
WHD080H
WHD080I
WHD080J
WHD080K
WHD080M
WHD080N
WHD080O
WHD080P
WHD080Q
WHD080R
WHD080S
WHD080T
WHD080U
WHD080L
WHD110
WHD120
WHD130
WHD140
WHQ150
mapped_cleaned_questionnaire

In [544]:
check = pd.read_csv('Examination_key.csv')
check['short_title'].nunique()

196