In [1]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq

In [2]:
#Declare the page_url
page_url = 'https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/DR1IFF_H.htm'

In [3]:
# opens the connection and downloads html page from url
link = uReq(page_url)

In [4]:
# parses html into a soup data structure to traverse html as if it were a json data type.
page_soup = soup(link.read(), "html.parser")
link.close()

In [5]:
containers = page_soup.findAll("div", {"class": "pagebreak"})
len(containers)

84

In [16]:
# containers[1]

In [17]:
# containers[1].table

In [119]:
table = page_soup.findAll("table", {"class": "values"})
type(table)
length = len(table)

In [142]:
yo = table[0].tbody.findAll('tr')
ls =[]
for i in yo:
    print(i.text)

2493.021655 to 267526.89097
Range of Values
131394
131394




0
Day 1 dietary recall not done/incomplete
0
131394




.
Missing
0
131394

In [138]:
yo

[<tr>
 <td class="values" scope="row">2493.021655 to 267526.89097</td>
 <td class="values">Range of Values</td>
 <td align="right" class="values">131394</td>
 <td align="right" class="values">131394</td>
 <td class="values">
 </td>
 </tr>, <tr>
 <td class="values" scope="row">0</td>
 <td class="values">Day 1 dietary recall not done/incomplete</td>
 <td align="right" class="values">0</td>
 <td align="right" class="values">131394</td>
 <td class="values">
 </td>
 </tr>, <tr>
 <td class="values" scope="row">.</td>
 <td class="values">Missing</td>
 <td align="right" class="values">0</td>
 <td align="right" class="values">131394</td>
 <td class="values">
 </td>
 </tr>]

In [121]:
for i in range(0,length):
    yo = table[i].tbody.findAll('td')
    for i in yo:
        print(i)

<td class="values" scope="row">2493.021655 to 267526.89097</td>
<td class="values">Range of Values</td>
<td align="right" class="values">131394</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">0</td>
<td class="values">Day 1 dietary recall not done/incomplete</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1953.802108 to 818626.65723</td>
<td class="values">Range of Values</td>
<td align="right" class="values">115721</td>
<td align="right" class="values">115721</td>
<td class="values">
</td>
<td class="values" scope="row">0</td>
<td class="values">Day 2 dietary recall not done/incomplete</td>
<td align="right" class="values">15673</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1 to 50</td>
<td class="values">Range of Values</td>
<td align="right" class="values">131394</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Reliable and met the minimum criteria</td>
<td align="right" class="values">129914</td>
<td align="right" class="values">129914</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Not reliable or not met the minimum criteria</td>
<td align="right" class="values">0</td>
<td align="right" class="values">129914</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Reported consuming breast-milk</td>
<td align="right" class="values">1480</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Not done</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">2 to 91</td>
<td class="values">Range of Values</td>
<td align="right" class="values">131394</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Yes</td>
<td align="right" class="values">1535</td>
<td align="right" class="values">1535</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">No</td>
<td align="right" class="values">129859</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Day 1 only</td>
<td align="right" class="values">15673</td>
<td align="right" class="values">15673</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Day 1 and day 2</td>
<td align="right" class="values">115721</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">-31 to 74</td>
<td class="values">Range of Values</td>
<td align="right" class="values">130233</td>
<td align="right" class="values">130233</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">1161</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Sunday</td>
<td align="right" class="values">21761</td>
<td align="right" class="values">21761</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Monday</td>
<td align="right" class="values">10325</td>
<td align="right" class="values">32086</td>
<td class="values">
</td>
<td class="values" scope="row">3</td>
<td class="values">Tuesday</td>
<td align="right" class="values">13303</td>
<td align="right" class="values">45389</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Wednesday</td>
<td align="right" class="values">12523</td>
<td align="right" class="values">57912</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Thursday</td>
<td align="right" class="values">11199</td>
<td align="right" class="values">69111</td>
<td class="values">
</td>
<td class="values" scope="row">6</td>
<td class="values">Friday</td>
<td align="right" class="values">33221</td>
<td align="right" class="values">102332</td>
<td class="values">
</td>
<td class="values" scope="row">7</td>
<td class="values">Saturday</td>
<td align="right" class="values">29062</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">English</td>
<td align="right" class="values">117362</td>
<td align="right" class="values">117362</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Spanish</td>
<td align="right" class="values">10661</td>
<td align="right" class="values">128023</td>
<td class="values">
</td>
<td class="values" scope="row">3</td>
<td class="values">English and Spanish</td>
<td align="right" class="values">1484</td>
<td align="right" class="values">129507</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Other</td>
<td align="right" class="values">588</td>
<td align="right" class="values">130095</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Asian Languages</td>
<td align="right" class="values">1035</td>
<td align="right" class="values">131130</td>
<td class="values">
</td>
<td class="values" scope="row">6</td>
<td class="values">Asian Languages and English</td>
<td align="right" class="values">264</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">0 to 14</td>
<td class="values">Range of Values</td>
<td align="right" class="values">131394</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">0</td>
<td class="values">Non-combination food</td>
<td align="right" class="values">75335</td>
<td align="right" class="values">75335</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Beverage w/ additions</td>
<td align="right" class="values">10947</td>
<td align="right" class="values">86282</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Cereal w/ additions</td>
<td align="right" class="values">5466</td>
<td align="right" class="values">91748</td>
<td class="values">
</td>
<td class="values" scope="row">3</td>
<td class="values">Bread/baked products w/ additions</td>
<td align="right" class="values">5300</td>
<td align="right" class="values">97048</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Salad</td>
<td align="right" class="values">5337</td>
<td align="right" class="values">102385</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Sandwiches</td>
<td align="right" class="values">13313</td>
<td align="right" class="values">115698</td>
<td class="values">
</td>
<td class="values" scope="row">6</td>
<td class="values">Soup</td>
<td align="right" class="values">832</td>
<td align="right" class="values">116530</td>
<td class="values">
</td>
<td class="values" scope="row">7</td>
<td class="values">Frozen meals</td>
<td align="right" class="values">52</td>
<td align="right" class="values">116582</td>
<td class="values">
</td>
<td class="values" scope="row">8</td>
<td class="values">Ice cream/frozen yogurt w/ additions</td>
<td align="right" class="values">491</td>
<td align="right" class="values">117073</td>
<td class="values">
</td>
<td class="values" scope="row">9</td>
<td class="values">Dried beans and vegetable w/ additions</td>
<td align="right" class="values">3690</td>
<td align="right" class="values">120763</td>
<td class="values">
</td>
<td class="values" scope="row">10</td>
<td class="values">Fruit w/ additions</td>
<td align="right" class="values">666</td>
<td align="right" class="values">121429</td>
<td class="values">
</td>
<td class="values" scope="row">11</td>
<td class="values">Tortilla products</td>
<td align="right" class="values">1781</td>
<td align="right" class="values">123210</td>
<td class="values">
</td>
<td class="values" scope="row">12</td>
<td class="values">Meat, poultry, fish</td>
<td align="right" class="values">2653</td>
<td align="right" class="values">125863</td>
<td class="values">
</td>
<td class="values" scope="row">13</td>
<td class="values">LunchablesÂ®</td>
<td align="right" class="values">169</td>
<td align="right" class="values">126032</td>
<td class="values">
</td>
<td class="values" scope="row">14</td>
<td class="values">Chips w/ additions</td>
<td align="right" class="values">721</td>
<td align="right" class="values">126753</td>
<td class="values">
</td>
<td class="values" scope="row">90</td>
<td class="values">Other mixtures		</td>
<td align="right" class="values">4641</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">0 to 86340</td>
<td class="values">Range of Values</td>
<td align="right" class="values">131394</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Breakfast</td>
<td align="right" class="values">23453</td>
<td align="right" class="values">23453</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Lunch</td>
<td align="right" class="values">26688</td>
<td align="right" class="values">50141</td>
<td class="values">
</td>
<td class="values" scope="row">3</td>
<td class="values">Dinner</td>
<td align="right" class="values">27947</td>
<td align="right" class="values">78088</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Supper</td>
<td align="right" class="values">6126</td>
<td align="right" class="values">84214</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Brunch</td>
<td align="right" class="values">1088</td>
<td align="right" class="values">85302</td>
<td class="values">
</td>
<td class="values" scope="row">6</td>
<td class="values">Snack</td>
<td align="right" class="values">22892</td>
<td align="right" class="values">108194</td>
<td class="values">
</td>
<td class="values" scope="row">7</td>
<td class="values">Drink</td>
<td align="right" class="values">7106</td>
<td align="right" class="values">115300</td>
<td class="values">
</td>
<td class="values" scope="row">8</td>
<td class="values">Infant feeding</td>
<td align="right" class="values">2787</td>
<td align="right" class="values">118087</td>
<td class="values">
</td>
<td class="values" scope="row">9</td>
<td class="values">Extended consumption</td>
<td align="right" class="values">3411</td>
<td align="right" class="values">121498</td>
<td class="values">
</td>
<td class="values" scope="row">10</td>
<td class="values">Desayano</td>
<td align="right" class="values">1912</td>
<td align="right" class="values">123410</td>
<td class="values">
</td>
<td class="values" scope="row">11</td>
<td class="values">Almuerzo</td>
<td align="right" class="values">1581</td>
<td align="right" class="values">124991</td>
<td class="values">
</td>
<td class="values" scope="row">12</td>
<td class="values">Comida</td>
<td align="right" class="values">1663</td>
<td align="right" class="values">126654</td>
<td class="values">
</td>
<td class="values" scope="row">13</td>
<td class="values">Merienda</td>
<td align="right" class="values">857</td>
<td align="right" class="values">127511</td>
<td class="values">
</td>
<td class="values" scope="row">14</td>
<td class="values">Cena</td>
<td align="right" class="values">1945</td>
<td align="right" class="values">129456</td>
<td class="values">
</td>
<td class="values" scope="row">15</td>
<td class="values">Entre comida</td>
<td align="right" class="values">434</td>
<td align="right" class="values">129890</td>
<td class="values">
</td>
<td class="values" scope="row">16</td>
<td class="values">Botana</td>
<td align="right" class="values">423</td>
<td align="right" class="values">130313</td>
<td class="values">
</td>
<td class="values" scope="row">17</td>
<td class="values">Bocadillo</td>
<td align="right" class="values">383</td>
<td align="right" class="values">130696</td>
<td class="values">
</td>
<td class="values" scope="row">18</td>
<td class="values">Tentempie</td>
<td align="right" class="values">67</td>
<td align="right" class="values">130763</td>
<td class="values">
</td>
<td class="values" scope="row">19</td>
<td class="values">Bebida</td>
<td align="right" class="values">631</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">91</td>
<td class="values">Other</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">99</td>
<td class="values">Don't know</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">0</td>
<td align="right" class="values">131394</td>
<td class="values">
</td>
<td class="values" scope="row">1</td>
<td class="values">Store - grocery/supermarket</td>
<td align="right" class="values">80619</td>
<td align="right" class="values">80619</td>
<td class="values">
</td>
<td class="values" scope="row">2</td>
<td class="values">Restaurant with waiter/waitress</td>
<td align="right" class="values">8552</td>
<td align="right" class="values">89171</td>
<td class="values">
</td>
<td class="values" scope="row">3</td>
<td class="values">Restaurant fast food/pizza</td>
<td align="right" class="values">11901</td>
<td align="right" class="values">101072</td>
<td class="values">
</td>
<td class="values" scope="row">4</td>
<td class="values">Bar/tavern/lounge</td>
<td align="right" class="values">238</td>
<td align="right" class="values">101310</td>
<td class="values">
</td>
<td class="values" scope="row">5</td>
<td class="values">Restaurant no additional information</td>
<td align="right" class="values">51</td>
<td align="right" class="values">101361</td>
<td class="values">
</td>
<td class="values" scope="row">6</td>
<td class="values">Cafeteria NOT in a K-12 school</td>
<td align="right" class="values">891</td>
<td align="right" class="values">102252</td>
<td class="values">
</td>
<td class="values" scope="row">7</td>
<td class="values">Cafeteria in a K-12 school</td>
<td align="right" class="values">3268</td>
<td align="right" class="values">105520</td>
<td class="values">
</td>
<td class="values" scope="row">8</td>
<td class="values">Child/Adult care center</td>
<td align="right" class="values">537</td>
<td align="right" class="values">106057</td>
<td class="values">
</td>
<td class="values" scope="row">9</td>
<td class="values">Child/Adult home care</td>
<td align="right" class="values">249</td>
<td align="right" class="values">106306</td>
<td class="values">
</td>
<td class="values" scope="row">10</td>
<td class="values">Soup kitchen/shelter/food pantry</td>
<td align="right" class="values">52</td>
<td align="right" class="values">106358</td>
<td class="values">
</td>
<td class="values" scope="row">11</td>
<td class="values">Meals on Wheels</td>
<td align="right" class="values">62</td>
<td align="right" class="values">106420</td>
<td class="values">
</td>
<td class="values" scope="row">12</td>
<td class="values">Community food program - other</td>
<td align="right" class="values">279</td>
<td align="right" class="values">106699</td>
<td class="values">
</td>
<td class="values" scope="row">13</td>
<td class="values">Community program no additional information</td>
<td align="right" class="values">0</td>
<td align="right" class="values">106699</td>
<td class="values">
</td>
<td class="values" scope="row">14</td>
<td class="values">Vending machine</td>
<td align="right" class="values">325</td>
<td align="right" class="values">107024</td>
<td class="values">
</td>
<td class="values" scope="row">15</td>
<td class="values">Common coffee pot or snack tray</td>
<td align="right" class="values">494</td>
<td align="right" class="values">107518</td>
<td class="values">
</td>
<td class="values" scope="row">16</td>
<td class="values">From someone else/gift</td>
<td align="right" class="values">7566</td>
<td align="right" class="values">115084</td>
<td class="values">
</td>
<td class="values" scope="row">17</td>
<td class="values">Mail order purchase</td>
<td align="right" class="values">361</td>
<td align="right" class="values">115445</td>
<td class="values">
</td>
<td class="values" scope="row">18</td>
<td class="values">Residential dining facility</td>
<td align="right" class="values">168</td>
<td align="right" class="values">115613</td>
<td class="values">
</td>
<td class="values" scope="row">19</td>
<td class="values">Grown or caught by you or someone you know</td>
<td align="right" class="values">552</td>
<td align="right" class="values">116165</td>
<td class="values">
</td>
<td class="values" scope="row">20</td>
<td class="values">Fish caught by you or someone you know</td>
<td align="right" class="values">15</td>
<td align="right" class="values">116180</td>
<td class="values">
</td>
<td class="values" scope="row">24</td>
<td class="values">Sport, recreation, or entertainment facility</td>
<td align="right" class="values">620</td>
<td align="right" class="values">116800</td>
<td class="values">
</td>
<td class="values" scope="row">25</td>
<td class="values">Street vendor, vending truck</td>
<td align="right" class="values">246</td>
<td align="right" class="values">117046</td>
<td class="values">
</td>
<td class="values" scope="row">26</td>

In [77]:
for i in range(0,length):
    yo = table(i).tr.findAll('th')
    for i in yo:
        print(i.get_text())

TypeError: 'ResultSet' object is not callable

In [ ]:
# table = soup.find('table', border=1)
# rows = table.find_all('tr')

for row in rows:
    data = row.find_all("td")
    rn = data[0].get_text()
    sr = data[1].get_text()
    d = data[2].get_text()
    n = data[3].get_text()

    print(rn + "," + sr + "," + d + ",", file=f)